<a href="https://colab.research.google.com/github/cristiandarioortegayubro/dataidea/blob/main/meeting_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

![Logo.png]()

#**Análisis de Datos**

## Habilitando los módulos

Habitualmente se habilitan los módulos de la siguiente forma:

In [ ]:
import pandas as pd
import pandas_datareader as data

## Obteniendo los datos

In [ ]:
datos = data.DataReader("BTC-USD", start="2021-01-05", data_source="yahoo")

## Creando el DataFrame

In [ ]:
bitcoin = pd.DataFrame(datos)

## Visualizando el DataFrame

Viendo el DataFrame completo

In [ ]:
bitcoin

                    High           Low  ...       Volume     Adj Close
Date                                    ...
2021-01-05  34437.589844  30221.187500  ...  67547324782  33992.429688
2021-01-06  36879.699219  33514.035156  ...  75289433811  36824.363281
2021-01-07  40180.367188  36491.191406  ...  84762141031  39371.042969
2021-01-08  41946.738281  36838.636719  ...  88107519480  40797.609375
2021-01-09  41436.351562  38980.875000  ...  61984162837  40254.546875
...                  ...           ...  ...          ...           ...
2021-05-23  39835.140625  34551.082031  ...  67359584098  38705.980469
2021-05-24  39776.351562  36581.429688  ...  56211915803  38402.222656
2021-05-25  40782.078125  37905.835938  ...  51346735160  39294.199219
2021-05-26  40379.617188  37247.902344  ...  43210968721  38436.968750
2021-05-28  38770.804688  37813.785156  ...  41198809088  38300.410156

[144 rows x 6 columns]

Viendo las primeras cinco filas...

In [ ]:
bitcoin.head()

                    High           Low  ...       Volume     Adj Close
Date                                    ...
2021-01-05  34437.589844  30221.187500  ...  67547324782  33992.429688
2021-01-06  36879.699219  33514.035156  ...  75289433811  36824.363281
2021-01-07  40180.367188  36491.191406  ...  84762141031  39371.042969
2021-01-08  41946.738281  36838.636719  ...  88107519480  40797.609375
2021-01-09  41436.351562  38980.875000  ...  61984162837  40254.546875

[5 rows x 6 columns]

Viendo un número $n$ de filas, por ejemplo 8 filas...

In [ ]:
bitcoin.head(8)

                    High           Low  ...        Volume     Adj Close
Date                                    ...
2021-01-05  34437.589844  30221.187500  ...   67547324782  33992.429688
2021-01-06  36879.699219  33514.035156  ...   75289433811  36824.363281
2021-01-07  40180.367188  36491.191406  ...   84762141031  39371.042969
2021-01-08  41946.738281  36838.636719  ...   88107519480  40797.609375
2021-01-09  41436.351562  38980.875000  ...   61984162837  40254.546875
2021-01-10  41420.191406  35984.628906  ...   79980747690  38356.441406
2021-01-11  38346.531250  30549.599609  ...  123320567399  35566.656250
2021-01-12  36568.527344  32697.976562  ...   74773277909  33922.960938

[8 rows x 6 columns]

Viendo las últimas cinco filas del DataFrame...

In [ ]:
bitcoin.tail()

                    High           Low  ...       Volume     Adj Close
Date                                    ...
2021-05-23  39835.140625  34551.082031  ...  67359584098  38705.980469
2021-05-24  39776.351562  36581.429688  ...  56211915803  38402.222656
2021-05-25  40782.078125  37905.835938  ...  51346735160  39294.199219
2021-05-26  40379.617188  37247.902344  ...  43210968721  38436.968750
2021-05-28  38770.804688  37813.785156  ...  41198809088  38300.410156

[5 rows x 6 columns]

Viendo un número $n$ de filas, por ejemplo 7 filas...

In [ ]:
bitcoin.tail(7)

                    High           Low  ...       Volume     Adj Close
Date                                    ...
2021-05-21  38831.054688  35383.683594  ...  57377273240  37536.632812
2021-05-22  38289.218750  31227.339844  ...  78469274361  34770.582031
2021-05-23  39835.140625  34551.082031  ...  67359584098  38705.980469
2021-05-24  39776.351562  36581.429688  ...  56211915803  38402.222656
2021-05-25  40782.078125  37905.835938  ...  51346735160  39294.199219
2021-05-26  40379.617188  37247.902344  ...  43210968721  38436.968750
2021-05-28  38770.804688  37813.785156  ...  41198809088  38300.410156

[7 rows x 6 columns]

Viendo la composición del Index...

In [ ]:
bitcoin.index

DatetimeIndex(['2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14',
               ...
               '2021-05-18', '2021-05-19', '2021-05-20', '2021-05-21',
               '2021-05-22', '2021-05-23', '2021-05-24', '2021-05-25',
               '2021-05-26', '2021-05-28'],
              dtype='datetime64[ns]', name='Date', length=144, freq=None)

Viendo la composición de las Columnas...

In [ ]:
bitcoin.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

## Tipos de datos del DataFrame y tamaño

In [ ]:
bitcoin.dtypes

High         float64
Low          float64
Open         float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

In [ ]:
bitcoin.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 144 entries, 2021-01-05 to 2021-05-28
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       144 non-null    float64
 1   Low        144 non-null    float64
 2   Open       144 non-null    float64
 3   Close      144 non-null    float64
 4   Volume     144 non-null    int64
 5   Adj Close  144 non-null    float64
dtypes: float64(5), int64(1)
memory usage: 7.9 KB

In [ ]:
bitcoin.shape

(144, 6)

## Trabajando en el DataFrame

###Ajustando el número de decimales del DataFrame

In [ ]:
pd.options.display.precision = 2
bitcoin.head()

                High       Low      Open     Close       Volume  Adj Close
Date
2021-01-05  34437.59  30221.19  31977.04  33992.43  67547324782   33992.43
2021-01-06  36879.70  33514.04  34013.61  36824.36  75289433811   36824.36
2021-01-07  40180.37  36491.19  36833.88  39371.04  84762141031   39371.04
2021-01-08  41946.74  36838.64  39381.77  40797.61  88107519480   40797.61
2021-01-09  41436.35  38980.88  40788.64  40254.55  61984162837   40254.55

### Eliminando columnas del DataFrame

In [ ]:
bitcoin.drop("Volume", axis=1, inplace=True)

In [ ]:
bitcoin.columns

Index(['High', 'Low', 'Open', 'Close', 'Adj Close'], dtype='object')

### Cambiando el nombre de una columna

In [ ]:
bitcoin.rename(columns={"Adj Close":"Adj_Close"}, inplace=True)

In [ ]:
bitcoin.columns

Index(['High', 'Low', 'Open', 'Close', 'Adj_Close'], dtype='object')

### Insertando una columna

In [ ]:
bitcoin.insert(0,column="Date",value=bitcoin.index.values)
bitcoin.head(3)

                 Date      High       Low      Open     Close  Adj_Close
Date
2021-01-05 2021-01-05  34437.59  30221.19  31977.04  33992.43   33992.43
2021-01-06 2021-01-06  36879.70  33514.04  34013.61  36824.36   36824.36
2021-01-07 2021-01-07  40180.37  36491.19  36833.88  39371.04   39371.04

### Insertando una columna con datos de otra

In [ ]:
bitcoin.insert(1,column="Day",value=pd.DatetimeIndex(bitcoin["Date"]).day_name())

### Reseteando el Index

In [ ]:
bitcoin.reset_index(drop=True, inplace=True)
bitcoin.head(3)

        Date        Day      High       Low      Open     Close  Adj_Close
0 2021-01-05    Tuesday  34437.59  30221.19  31977.04  33992.43   33992.43
1 2021-01-06  Wednesday  36879.70  33514.04  34013.61  36824.36   36824.36
2 2021-01-07   Thursday  40180.37  36491.19  36833.88  39371.04   39371.04

### Insertando una columna con cálculos matemáticos

In [ ]:
bitcoin["Pct_Change"] = bitcoin.Close.pct_change()*100
bitcoin.head(3)

        Date        Day      High  ...     Close  Adj_Close  Pct_Change
0 2021-01-05    Tuesday  34437.59  ...  33992.43   33992.43         NaN
1 2021-01-06  Wednesday  36879.70  ...  36824.36   36824.36        8.33
2 2021-01-07   Thursday  40180.37  ...  39371.04   39371.04        6.92

[3 rows x 8 columns]

In [ ]:
bitcoin["Diff"] = bitcoin.Close.diff()
bitcoin.head(3)

        Date        Day      High  ...  Adj_Close  Pct_Change     Diff
0 2021-01-05    Tuesday  34437.59  ...   33992.43         NaN      NaN
1 2021-01-06  Wednesday  36879.70  ...   36824.36        8.33  2831.93
2 2021-01-07   Thursday  40180.37  ...   39371.04        6.92  2546.68

[3 rows x 9 columns]

### Insertando una columna con cálculos lógicos

In [ ]:
bitcoin["Eval"] = bitcoin.eval("Close >= Open")
bitcoin.head(3)

        Date        Day      High  ...  Pct_Change     Diff  Eval
0 2021-01-05    Tuesday  34437.59  ...         NaN      NaN  True
1 2021-01-06  Wednesday  36879.70  ...        8.33  2831.93  True
2 2021-01-07   Thursday  40180.37  ...        6.92  2546.68  True

[3 rows x 10 columns]

### Eliminando valores NaN

In [ ]:
bitcoin.dropna(how="any", inplace=True)
bitcoin.head(3)

        Date        Day      High  ...  Pct_Change     Diff  Eval
1 2021-01-06  Wednesday  36879.70  ...        8.33  2831.93  True
2 2021-01-07   Thursday  40180.37  ...        6.92  2546.68  True
3 2021-01-08     Friday  41946.74  ...        3.62  1426.57  True

[3 rows x 10 columns]

In [ ]:
bitcoin.reset_index(drop=True, inplace=True)
bitcoin.head(3)

        Date        Day      High  ...  Pct_Change     Diff  Eval
0 2021-01-06  Wednesday  36879.70  ...        8.33  2831.93  True
1 2021-01-07   Thursday  40180.37  ...        6.92  2546.68  True
2 2021-01-08     Friday  41946.74  ...        3.62  1426.57  True

[3 rows x 10 columns]

# Armando una función para obtener datos de otras criptomonedas

In [ ]:
def criptomonedas(simbolo):
  a=data.DataReader(simbolo, start="2021-04-05", data_source="yahoo")
  simbolo=pd.DataFrame(a)
  simbolo.insert(0,column="Date",value=simbolo.index.values)
  simbolo.insert(1,column="Day",value=pd.DatetimeIndex(simbolo["Date"]).day_name())
  simbolo["Pct_Change"] = simbolo.Close.pct_change()*100
  simbolo["Diff"] = simbolo.Close.diff()
  simbolo["Eval"] = simbolo.eval("Close >= Open")
  simbolo.drop(["Volume", "Adj Close"], axis=1, inplace=True)
  simbolo.dropna(how="any", inplace=True)
  simbolo.reset_index(drop=True, inplace=True)
  return simbolo

LITECOIN = criptomonedas("LTC-USD")
MONERO = criptomonedas("XMR-USD")
BINANCE = criptomonedas("BNB-USD")
AAVE = criptomonedas("AAVE-USD")

## Litecoin

In [ ]:
LITECOIN["Name"] = "Litecoin"

In [ ]:
LITECOIN.head(3)

        Date        Day    High     Low  ...  Pct_Change   Diff   Eval      Name
0 2021-04-05     Monday  244.52  217.63  ...        7.51  16.60   True  Litecoin
1 2021-04-06    Tuesday  243.15  212.23  ...       -7.68 -18.24  False  Litecoin
2 2021-04-07  Wednesday  228.35  218.08  ...        3.45   7.58   True  Litecoin

[3 rows x 10 columns]

In [ ]:
LITECOIN.shape

(53, 10)

## Monero

In [ ]:
MONERO["Name"] = "Monero"

In [ ]:
MONERO.head(3)

        Date        Day    High     Low  ...  Pct_Change   Diff   Eval    Name
0 2021-04-05     Monday  277.30  260.65  ...        2.70   7.12   True  Monero
1 2021-04-06    Tuesday  280.20  253.58  ...       -4.91 -13.30  False  Monero
2 2021-04-07  Wednesday  272.05  251.76  ...        4.75  12.25   True  Monero

[3 rows x 10 columns]

In [ ]:
MONERO.shape

(53, 10)

## Binance

In [ ]:
BINANCE["Name"] = "Binance"

In [ ]:
BINANCE.head(3)

        Date        Day    High     Low  ...  Pct_Change   Diff   Eval     Name
0 2021-04-05     Monday  412.26  364.13  ...        9.74  35.82   True  Binance
1 2021-04-06    Tuesday  414.36  358.74  ...       -7.17 -28.93  False  Binance
2 2021-04-07  Wednesday  422.47  372.52  ...       11.58  43.38   True  Binance

[3 rows x 10 columns]

In [ ]:
BINANCE.shape

(53, 10)

## Aave

In [ ]:
AAVE["Name"] = "Aave"

In [ ]:
AAVE.head(3)

        Date        Day    High     Low  ...  Pct_Change   Diff   Eval  Name
0 2021-04-05     Monday  414.47  381.05  ...       -3.50 -13.93  False  Aave
1 2021-04-06    Tuesday  387.92  343.96  ...       -8.59 -32.99  False  Aave
2 2021-04-07  Wednesday  377.93  349.12  ...        7.67  26.94   True  Aave

[3 rows x 10 columns]

In [ ]:
AAVE.shape

(52, 10)

## Uniendo los DataFrame

In [ ]:
union = [LITECOIN,MONERO,BINANCE,AAVE] # lista con objetos

In [ ]:
portafolio = pd.concat(union)

In [ ]:
portafolio.shape

(211, 10)